.hero {
    height: 100vh;
    width: 100%;

    background-image: url(../assets/banner.svg);
    background-size: cover;

    position: relative; 

    .boxText {
        width: 27.375rem;
        height: 17.4375rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding-left: 135px;
    
        color: #FFF;
    
        h1 {
          font-size: 3rem;
          font-weight: 600;
          line-height: 71.04px;

          margin-bottom: 1.0625rem;
        }

        span {
            font-size: 1.5rem;
            font-weight: 500;

            margin-bottom: 4rem;

            line-height: 33.6px;
        }

        .btnGetInNow {
            width: 10.125rem;
            height: 3.6875rem;

            border: none;
            border-radius: 8px;

            padding: 1rem 2rem;

            background-color: #3B44F6;

            font-size: 1.125rem;
            line-height: 150%;
            color: #FFF;

            transition: transform .1s ease-out;
            display: inline-block;

            cursor: pointer;

            &:hover {
                transform: translate(0, -5px);
            }
        }
    }
}