.hero {
    height: 100vh;
    width: 100%;

    background-image: url(../assets/banner.svg);
    background-size: cover;

    position: relative; 

    .boxText {
        width: 27.375rem;
        height: 17.4375rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        padding-left: 135px;
    
        color: #FFF;
    
        h1 {
          font-size: 3rem;
          font-weight: 600;
          line-height: 71.04px;

          margin-bottom: 1.0625rem;
        }

        .subTitle {
            font-size: 1.5rem;
            font-weight: 500;

            margin-bottom: 4rem;

            line-height: 33.6px;
        }

        .btnGetInNow {
            width: 10.125rem;
            height: 3.6875rem;

            border: none;
            border-radius: 8px;

            padding: 1rem 2rem;

            background-color: #3B44F6;

            font-size: 1.125rem;
            line-height: 150%;
            color: #FFF;

            transition: transform .1s ease-out;
            display: inline-block;

            cursor: pointer;

            &:hover {
                transform: translate(0, -5px);
            }
        }
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: -7.5rem;
        padding: 0 30px;

        .arrowBack {
            background-color: rgba(255, 255, 255, 0.1);

            color: #FFF;

            border-radius: 200px;
            border: 1px solid rgba(255, 255, 255, 0.07);
            backdrop-filter: blur(50px);
            mix-blend-mode: lighten;
        }
    }
}

.sectionGames {
    background-color: #f5f4f9;

    padding-top: 4.375rem;

    .sectionRatingText {
        width: 473px;
        margin: 0 auto;
        text-align: center;

        h2 {
            font-size: 2.25rem;
            font-weight: 600;
            line-height: 140%;
    
            color: #181818;
            
            margin-bottom: 1rem;
        }
    
        span {
            font-size: 1.125rem;
            line-height: 150%;
            color: #323232;
        }
    }

    .containerRating {
        display: flex;
        gap: 5.1875rem;

        max-width: 57.25rem;
        width: 100%;

        text-align: center;

        margin: 0 auto;

        margin-top: 3.75rem;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;

            .descriptionRating {
                color: #181818;
                font-size: 1.25rem;
                font-weight: 500;

                margin-top: 1.3125rem;
            }
        }
    }  
    
    .gamesGenres {
        margin-top: 6.875rem;

        padding-left: 135px;
        padding-right: 105px;

        .genresText {
            display: flex;
            justify-content: space-between;
        }
 
        .seelAllGenres {
            color: #3B44F6;
        }

        .cardsGames {
            display: flex;
            gap: 1rem;

            margin-top: 1.5rem;
        }

        .BestGamges {
            margin-top: 1.875rem;

            .cardsBestGamges {
                margin-top: 1.125rem;
                
                display: flex;
            }
        }
    }
}